.modal-overlay {
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  z-index: 9999;

  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;

  opacity: 0;

  display: none;
}
.modal-overlay.active {
  opacity: 1;
  visibility: visible;
  overflow: hidden;

  display: flex;
}
.modal-content {
  padding: 2.4rem;
  z-index: 9999;
  width: 600px;
  height: 500px;
  background: #f0f2f5;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}
#file-input {
  opacity: 0;
}

.select-files {
  margin-top:5px;
  background: lightblue;

  min-height: 36px;
  max-height: 36px;
  min-width: 180px;
  max-width: 180px;

  border-radius: 8px;

  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  cursor: pointer;
}
#TypePokemon{
  margin-top:8px;

}
.close-button {
  color: darkmagenta;
  cursor: pointer;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  font-size: 32px;
  font-weight: 800;
}

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.add-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  padding: 8px 12px;

  background-color: lightgreen;

  border-radius: 6px;

  cursor: pointer;
}
.styled select{
    background:transparent;
    width:150px;
    font-size:16px;
    border:1px solid #CCC;
    height:34px;
}
.styled {
  /* margin: 50px; */
  width: 120px;
  height: 34px;
  border: 1px solid #111;
  border-radius: 3px;
  overflow: hidden;
  background: 96% / 20% no-repeat #EEE;
}
.form-group.files {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: column;

  margin: 0 !important;
}

.form-group.files input {
  display: none;
}

.pokemon-preview-image {
  width: auto;
  max-height: 176px;
}

#preview {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#type{
  display:flex;
  justify-content:center;
  align-items: center;
  align-content: center;
  height: 35px;
  width:522px;
  
  margin-top:5px;
  cursor: pointer;
}
